
*.tii

*.nrm

*.frq

*.fdx

*.fdt

*.json

*.xml

*.dat

*.js

java/.metadata/.plugins/org.eclipse.rse.ui/.log

*.properties

*.mark

java/.metadata/.plugins/org.eclipse.rse.core/.log

*.log

*.index

*.history

*.txt

java/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

java/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

java/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache

*.fnm

*.prx

*.tis

java/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_1

*.tree

*.snap

*.prefs

.DS_Store

java/.metadata/.lock

java/.metadata/.mylyn/.taskListIndex/segments_1

*.gen

*.zip

java/.metadata/.plugins/org.eclipse.core.resources/.projects/Hello/.markers

*.version

*.resources

*.xmi

java/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1

*.lock

java/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_2

java/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache

java/.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps

*.ini
